.notice-box{
    padding: 20px;
    width: auto;
    max-width: 740px;
    background: #eeeeea;
    border-radius: 10px;
    padding-bottom: 32px;
    padding-top: 24px;
}

.input-notice{
    margin-right: 15%;
    margin-left: 10% ;
}

.pagination{
    margin: 10px;
}

.page-item{
    margin:2px;
}

.funny{
    margin-left:25px;
    margin-right: 10px;
    
}

.acc-items{
    margin: 5px;
}