.notice-box{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #f5ff66;
    border-radius: 10px;
    padding-bottom: 32px;
    padding-top: 24px;
}

.input-notice{
    margin-right: 15%;
    margin-left: 10% ;
}